# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environment folders
*.env
*.venv
venv/
env/
ENV/

/artifacts/*

research/

cli.py

# Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# DVC internal
.dvc/cache/
.dvc/tmp/

# Data cache
data_cache/

# IDE/editor
.vscode/*
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
