# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environment folders
*.env
*.venv
venv/
env/
ENV/

# Artifacts
/artifacts/*

# Research folder
research/

# CLI script
cli.py

# Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# DVC internal 
/.dvc

# Data cache
data_cache/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

tests/

mlruns/
