name: DVC Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-dvc:
    runs-on: ubuntu-latest

    env:
      DAGSHUB_USER: ${{ secrets.DAGSHUB_USER }}
      DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      DVC_REMOTE: "https://dagshub.com/${{ secrets.DAGSHUB_USER }}:${{ secrets.DAGSHUB_TOKEN }}/Reasona.dvc"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python dependencies
        run: |
            pip install -r requirements.txt
            pip install -e .

      - name: Install DVC + S3/HTTP support
        run: pip install dvc[http]

      - name: Run DVC pipeline
        run: dvc repro

      - name: Push DVC artifacts to DagsHub
        run: dvc push
